<section>
    <div>
        <h2>Animes populares esta semana</h2>
        <app-gallery [list]="animesWeek"></app-gallery>
    </div>
    <div>
        <h2>Animes más populares en emisión</h2>
        <app-gallery [list]="animesEmission"></app-gallery>
    </div>
    <div>
        <h2>Animes más esperados</h2>
        <app-gallery [list]="animesAwaited"></app-gallery>
    </div>
    <div>
        <h2>Animes mejor evaluados</h2>
        <app-gallery [list]="animesBest"></app-gallery>
    </div>
    <div>
        <h2>Animes más populares</h2>
        <app-gallery [list]="animesPopular"></app-gallery>
    </div>
</section>